{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block header %}
    <h1>Welcome to the Phone Book</h1>
    {% if current_user.is_authenticated %}
        <h4>Hello {{current_user.username}}</h4>
    {% else %}
        <h4>Please Sign Up or Log In to use the Phone Book</h4>
    {% endif %}
{% endblock header %}

{% block content %}
    <div class="col-12">
        {% for num in nums %}
            <div class="card my-3 bg-primary-subtle border-danger-subtle">
                <div class="row g-0">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">{{ num.first_name.title()+' '+num.last_name.title() }}</h5>
                        <h6 class="card-subtle">Address: {{ num.address }}</h6>
                        <p class="card-text">Phone Number: {{ num.phoneNum }}</p>
                        <p class="card-text"><small class="text-body-secondary">{{ num.dateCreated.strftime('%A %b %d, %Y at %I:%M%p')  }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
