{% extends 'base.html' %}

{% block scripts %}
<link rel="stylesheet" href="./static/css/index.css">
<script src="./static/js/index.js" defer></script>
{% endblock scripts %}


{% block title %} Home {% endblock title %}

{% block header %}
    <h1>Welcome to the Yu-Gi-Oh Deck Editor</h1>
    {% if current_user.is_authenticated %}
        <h4>Hello {{current_user.username}}</h4>
    {% else %}
        <h4>Please Sign Up or Log In to create or edit a deck</h4>
    {% endif %}
{% endblock header %}

{% block content %}
    <div class="col-12 is-visible" id="return">
        {% for num in nums %}
        {% if current_user.is_authenticated and current_user.id == num.user_id%}
        
            <div class="card my-3 bg-dark-subtle border-primary-subtle text-center">
                <div class="row g-0">
                        <div class="col-9">
                            <div class="card-body">
                            <p class="card-title">{{ num.name.title()}}</p>
                            <p class="card-text"><small class="text-body-secondary">{{ num.dateCreated.strftime('%A %b %d, %Y at %I:%M%p')  }}</small></p>
                            </div>
                        </div>
                        <div class="col-3 text-center">
                                <button type="button" class="play-button btn btn-lg" name="edit" id="{{ num.id }}">Edit</button>
                        </div>
                </div>
            </div>
        
        {% endif %}
        {% endfor %}
    </div>

    <div class="is-invisible editor" id="edit"> 
        <div class="col-12">
            <div class="row g-0">
                <div class="col-8 text-center edit">
                    <p>Hello, Editing Deck</p>
                </div>     
                <div class="col-4 text-center total">
                    <button type="button" class="play-button btn btn-lg" name="return">Return</button>
                </div>   
            </div>
            <div class="row g-0 search-cards">
                <input class="form-control my-3" name="card" placeholder="Card Name">
                <button id="find-card-input" type="submit" class="form-control btn btn-primary my-3">Find Cards</button>
            </div>
            <div class="row g-0 deck">
                <p>Deck goes here</p>
            </div>
        </div>
    </div>
{% endblock content %}
